html {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.elemento {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  border: 2rem solid orange;
}

.nivel2 {
  border-top: 2rem solid orange;
  border-bottom: 2rem solid orange;
  border-left: 2rem dashed orange;
  border-right: 2rem dashed orange;
}

.nivel3 {
  border: 2rem solid red;
  border-radius: 4rem;
}

.nivel4 {
  border: 4rem solid;
  border-image: linear-gradient(#3cf0f6, #e92107) 1;
}
