html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f4;
  padding: 20px;
}

img,
video {
  max-width: 50%;
  height: auto;
  aspect-ratio: auto; /* Por defecto */
  aspect-ratio: 1 / 1; /* Cuadrado */
  aspect-ratio: 16 / 9; /* Un ejemplo horizontal */
  aspect-ratio: 1; /* Simplificacion cuadrado */
  width: 500px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
section {
  background-color: #82df9e;
  padding: 1rem;
}

.chat {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat__message {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.chat__message--right {
  flex-direction: row-reverse;
  text-align: right;
}

.chat__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #ccc;
}

.chat__content {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 75%;
}

.chat__header {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 5px;
}

.chat__name {
  font-weight: bold;
  color: #333;
}

.chat__text {
  font-size: 1em;
  color: #222;
}

.main {
  height: 100vh; /* Toda la altura del navegador */
  background-image: url("img/cafeteria.jpg"); /* Imagen de fondo */
  background-size: cover; /* Cubre todo sin deformarse */
  background-position: center; /* Centrada */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  padding: 2rem;
  border-radius: 10px;
}

.contact-card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Separación entre enlaces */
  text-align: center;
}

.contact-card__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.contact-card__link:hover {
  color: #ffcc00;
}
