html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  background-color: #1f16a3;
  width: 50%;
  height: 50%;
  padding: 5px;
  margin: auto;
}

.titulo,
.sub-titulo {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 3rem;
}

img {
  max-width: 100%;
  height: auto;
  opacity: 60%;
}
figcaption {
  text-align: right;
  color: white;
}
p {
  color: white;
}
article {
  background: #ccc;
  padding: 5px;
}

.primero {
  /* font-size: 1rem; */
  width: 40%;
  background: rgba(201, 1, 1, 0.486);
  /* min-height: 5rem;
  max-height: 10rem; */
}
.segundo {
  width: 70%;
  background-color: rgba(201, 1, 1, 0.486);
  max-height: 10rem;
  min-height: 5rem;
}
.tercero {
  width: 100%;
  background-color: rgba(201, 1, 1, 0.486);
  max-height: 10rem;
  min-height: 5rem;
}

.palabra {
  font-style: italic;
  font-family: sans-serif;
  /* font-display: ; */
  background-color: rgba(122, 158, 242, 0.5);
  text-decoration: underline;
  color: black;
}
