body {
  font-family: sans-serif;
  background-color: rgb(6, 146, 151);
  color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: #fff;
}

.title {
  font-size: 2rem;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}

/* img:hover {
  background-color: aqua;
} */

/* pre {
  text-align: center;
  font-size: small;
} */
.detalle {
  font-size: 1.5rem;
  text-align: center;
  font-style: oblique;
  margin-bottom: -10rem;
}

.modelo {
  margin: auto;
  text-align: center;
}

ul {
  list-style: none;
}

.parrafos {
  background-color: #fff;
}

.parrafo1 {
  color: red;
  width: 20rem;
  text-align: justify;
  background-color: blue;
  max-height: 10rem;
  min-height: 5rem;
}

.parrafo2 {
  color: yellow;
  width: 20rem;
  margin-left: 20rem;
  text-align: justify;
  min-width: 5rem;
}

.parrafo3 {
  color: green;
  width: 20rem;
  margin-left: 40rem;
  text-align: justify;
}

.estilos-palabra {
  font-size: 2rem;
  text-decoration: underline;
  background-color: yellow;
  opacity: 0.3;
}
