html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

.elemento {
  overflow: scroll;
}

.elemento {
  overflow: auto;
  /* Alternativa */
  overflow: hidden visible;
}

.elemento {
  overflow-y: hidden;
}
