body {
  background-color: rgb(207, 179, 233);
}
a {
  text-decoration: none;
}
.title {
  text-align: center;
  color: rgba(4, 180, 121, 0.795);
  font-size: 2.5rem;
  font-style: italic;
  text-transform: uppercase;
  /* word-spacing: 1.2rem; */
  letter-spacing: 1.2rem;
  word-spacing: 1.3rem;
}
.title:hover {
  font-style: inherit;
  color: blue;
}

.estilo-autor:hover {
  font-size: larger;
  color: brown;
}

.estilo-autor {
  color: blue;
  text-align: left;
}

.prologo {
  text-align: center;
  text-decoration: underline black;
  text-transform: uppercase;
}
.prologo:hover {
  font-family: cursive;
  font-weight: bolder;
  color: red;
  text-decoration: underline red;
}

.tamanio {
  font-weight: bolder;
  text-align: justify;
}
@font-face {
  font-family: "Chales";
  src: url("../assets/ChangaOne-Italic.ttf");
}

.title {
  font-family: "Chales", sans-serif;
}

@font-face {
  font-family: "TextoCurva";
  src: url("../assets/Alkatra-VariableFont_wght.ttf");
}

.tamanio {
  font-family: "TextoCurva", sans-serif;
}

.texto-uppercase {
  text-transform: uppercase;
  text-align: justify;
}
.texto-edit {
  text-align: justify;
}

.bg-yellow {
  background-color: yellow;
}

.oblicue {
  font-style: oblique;
}

.text-bold {
    font-weight: bold/* .tamanio {
} */;
