html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: #ece8e8;
}
.titulo {
  font-family: sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: lighter;
  text-align: center;
  word-spacing: 2rem;
  text-decoration: underline;
}
.titulo:hover {
  color: #ccc;
  font-size: 3rem;
  color: blue;
  font-style: oblique;
}

.autor {
  font-family: sans-serif;
  text-align: right;
  text-decoration: line-through;
  text-align: center;
}

.container {
  background: #ccc;
  width: 70%;
  height: 70%;
  margin: auto;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #c4bfbf;
}

.prologo {
  font-family: sans-serif;
  text-transform: lowercase;
  text-align: right;
}

.parrafo-uno,
.parrafo-dos {
  font-family: sans-serif;
  font-style: italic;
  text-align: justify;
}

.caveat-parrafo {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 5px;
}
