html {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
img,
video {
  width: 100%;
  height: auto;
}

figcaption {
  font-style: oblique;
  background-color: rgba(10, 10, 163, 0.637);
  text-align: center;
  font-size: 50px;
  color: white;
  border-radius: 5px 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  background-color: #96d4d4;
  border-style: inset;
}
