html {
  box-sizing: border;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}
.portada {
  background-color: black;
}
.portada th,
td {
  color: white;
  /* background-color: orange; */
}
.fondo {
  background-color: rgba(0, 0, 0, 0.712);
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #96d4d4;
}
