html {
  box-sizing: border;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
.portada {
  background-color: black;
}
.portada th {
  color: white;
}
